header {
  background-color: #4c2676;
  color: white;
  width: 100%;
  padding: 1%;
}

main {
  display: flex;
  flex-direction: column;
}

.entry-form {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  border-radius: 5px;
}

#title,
#photo-url {
  padding: 0;
  height: 30px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#r3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.space {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background-color: rgb(76, 38, 118);
  color: white;
  border-radius: 5px;
  height: 30px;
}

textarea {
  border-radius: 5px;
  margin-top: 1.3rem;
  width: 100%;
}

input {
  width: 100%;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-btn {
  display: flex;
  width: 60px;
  height: 27px;
  background-color: rgb(76, 38, 118);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

h1 > a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1rem;
}

h4 {
  display: flex;
  justify-content: space-between;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  flex-direction: column;
}

#modal-btn {
  color: red;
}

#r6 {
  justify-content: center;
  margin-bottom: 1rem;
}

#r7 {
  width: 100%;
  justify-content: space-between;
}

#box {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

#cancel {
  text-decoration: none;
  background-color: #b6b6b6;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
}

#confirm {
  text-decoration: none;
  background-color: #dc2626;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}
