header {
  background-color: #4c2676;
  color: white;
  width: 100%;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.entry-form {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

#title,
#photo-url {
  padding: 0;
  height: 30px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#r3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

#r4 > div {
  display: flex;
  justify-content: flex-end;
}

.save-btn {
  background-color: rgb(76, 38, 118);
  color: white;
  border-radius: 5px;
  height: 30px;
}

textarea {
  border-radius: 5px;
  margin-top: 1.3rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-btn {
  display: block;
  display: flex;
  width: 50px;
  height: 27px;
  background-color: rgb(76, 38, 118);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
}

h1 > a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1rem;
}
